html, body, #root {
    height: 100%;
    margin: 0;
}

#root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #003153;
    color: #eee;
    font-family: 'Roboto', sans-serif;
}

a {
   font-weight: light;
   color: #fff;
   text-decoration: none;
}

.greeting {
    text-align: center;
}

.github {
    border: 1px solid #eee;
    border-radius: 4px;
    padding: 5px;
    margin-top: 10px;
}

.nav {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #fff;
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 0 -5px;
    padding-left: 10px;
}

.nav-item {
    margin: 0 5px;
}
